/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6h9Q.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6h9Q.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRR232VGM.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW32.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



/* CSS Document */
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  min-height: 675px;
  background-color: #F4F5FF;
}
p {
  width: 100%;
  left: 0px;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: top;
  max-width: 550px;
  color: #727586;
  margin: 0px;
}
a:hover {
  cursor: pointer;
  color: #673DE6;
  text-decoration: underline;
}
h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
  margin: 8px;
  margin-top: 40px;
  color:black;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  width: 100%;
  height: 100%;
}
.content p{
	color:black;
}
.img{
  width:100%;
  max-width:800px;
  border-radius: 10px;
  margin-top: 40px;
}
.ic-launch {
  margin-left: 10.5px;
  width: 21px !important;
  height: 20px !important;
}
.link-container {
  margin-top: 32px;
  margin-bottom: 32px;
	text-align: center;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #673DE6;
  margin-top: 8px;
  text-decoration: none;
}
.main-image {
  width: 100%;
  max-width: 650px;
  max-height: 406px;
  height: auto;
}
.navigation {
  width: 100%;
  height: 72px;
  display: flex;
  margin: 0;
  padding: 2px 0px;
  flex-direction: row;
  align-items: normal;
  justify-content: center;
  background-color: #673de6;
}

.navigation img{
	max-width:250px;
	height:100%;
}

@media screen and (max-width: 580px) and (min-width: 0px) {
  h1, p, .link-container {
    width: 80%;
  }
}
@media screen and (min-width: 650px) and (min-height: 0px) and (max-height: 750px) {
  .link-container {
    margin-top: 12px;
  }
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}