.h5-in-menu {
	padding: 10px 0px 5px;
}

/*slide*/
.arrow-holder__item i{
	font-size: 2rem !important;
}

.mega-sub-menu li a i{
	color: #eb5e0b;
}

.elementor-icon-box-icon i{
	color: #5f2869;
}

@media (max-width: 1100px) {
	
	
}

@media (max-width: 768px) {
	
}


@media (min-width: 1200px) {

}

@media (min-width: 1000px) {
	
}

@media (max-width: 786px) {
	.sticky-cart__title{
		text-align: center;
		padding-right: 0px;
		margin-bottom: 5px;
	}
	.sticky-cart__info {
	    justify-content: center;
	}
}

@media (max-width: 480px) {
	
}