.elementor-3155 .elementor-element.elementor-element-c804fcd > .elementor-container {
  min-height: 525px;
}
.elementor-3155 .elementor-element.elementor-element-c804fcd > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-3155 .elementor-element.elementor-element-c804fcd:not(.elementor-motion-effects-element-type-background), .elementor-3155 .elementor-element.elementor-element-c804fcd > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url("/anhduong2/images/slide-7.jpg");
  background-position: center center;
}
.elementor-3155 .elementor-element.elementor-element-c804fcd {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-3155 .elementor-element.elementor-element-c804fcd > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget .elementor-3155 .elementor-element.elementor-element-eb3e805.elementor-column .elementor-widget-wrap {
  align-items: center;
}
.elementor-3155 .elementor-element.elementor-element-eb3e805.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-3155 .elementor-element.elementor-element-69fba47 {
 /*  padding: 20px 0px 20px 0px; */
 	padding: 20px 0px 0px 0px;
}

.elementor-3155 .elementor-element.elementor-element-d995527 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-3155 .elementor-element.elementor-element-d995527 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.elementor-3155 .elementor-element.elementor-element-472ffd0 > .elementor-element-populated {
  padding: 0px 50px 0px 0px;
}
.elementor-3155 .elementor-element.elementor-element-f06c18a:not(.elementor-motion-effects-element-type-background), .elementor-3155 .elementor-element.elementor-element-f06c18a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #F2F2F2;
}
.elementor-3155 .elementor-element.elementor-element-f06c18a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-3155 .elementor-element.elementor-element-f06c18a > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3155 .elementor-element.elementor-element-e5d39ce > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-3155 .elementor-element.elementor-element-e5d39ce:not(.elementor-motion-effects-element-type-background), .elementor-3155 .elementor-element.elementor-element-e5d39ce > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-image: url("/anhduong2/images/bg_banner.jpg");
  background-repeat: no-repeat;
}
.elementor-3155 .elementor-element.elementor-element-e5d39ce {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-3155 .elementor-element.elementor-element-e5d39ce > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3155 .elementor-element.elementor-element-b611bb7 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-3155 .elementor-element.elementor-element-d683bc5 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.elementor-3155 .elementor-element.elementor-element-31d096f:not(.elementor-motion-effects-element-type-background), .elementor-3155 .elementor-element.elementor-element-31d096f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #E5E4E4;
}
.elementor-3155 .elementor-element.elementor-element-31d096f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 40px;
  margin-bottom: 0px;
}
.elementor-3155 .elementor-element.elementor-element-31d096f > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3155 .elementor-element.elementor-element-fb0506f:not(.elementor-motion-effects-element-type-background), .elementor-3155 .elementor-element.elementor-element-fb0506f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #F2F2F2;
}
.elementor-3155 .elementor-element.elementor-element-fb0506f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-3155 .elementor-element.elementor-element-fb0506f > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
@media(max-width:1024px) {
  .elementor-3155 .elementor-element.elementor-element-c804fcd > .elementor-container {
    min-height: 525px;
  }
  .elementor-3155 .elementor-element.elementor-element-69fba47 {
    padding: 20px 20px 20px 20px;
  }
  .elementor-3155 .elementor-element.elementor-element-472ffd0 > .elementor-element-populated {
    padding: 0px 20px 0px 0px;
  }
}
@media(max-width:767px) {
  .elementor-3155 .elementor-element.elementor-element-c804fcd > .elementor-container {
    min-height: 350px;
  }
  .elementor-3155 .elementor-element.elementor-element-d995527 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .elementor-3155 .elementor-element.elementor-element-472ffd0 > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-3155 .elementor-element.elementor-element-b096196 > .elementor-element-populated {
    padding: 20px 20px 20px 20px;
  }
  .elementor-3155 .elementor-element.elementor-element-e5d39ce:not(.elementor-motion-effects-element-type-background), .elementor-3155 .elementor-element.elementor-element-e5d39ce > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("/anhduong2/images/bg_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media(min-width:768px) {
  .elementor-3155 .elementor-element.elementor-element-7245102 {
    width: 100%;
  }
}
@media(max-width:1024px) and (min-width:768px) {
  .elementor-3155 .elementor-element.elementor-element-e8d9c6c {
    width: 100%;
  }
}