/*--------------------------------------------------------------
/** 1. VARIABLES
--------------------------------------------------------------*/
:root {
    --first-color:#02587b;
    --second-color:#ed1c24;
    --third-color:#23282d;
}