<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" async href="images/logo.png">
    <meta name="description" content="Website trường đại học Thương mại" />
    <meta name="keywords" content="Đại học Thương mại, Thương mại, dai hoc thuong mai, thuong mai university, tuyển sinh, đào tạo" />
    <meta property="fb:app_id" content="196352989118747" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:title" content="Phòng Khảo thí và Đảm bảo chất lượng giáo dục" />
    <meta property="og:description" content="Website trường đại học Thương mại" />
    <meta property="og:url" content="https://khaothi.tmu.edu.vn" />
    <meta property="og:site_name" content="Phòng Khảo thí và Đảm bảo chất lượng giáo dục" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://khaothi.tmu.edu.vn/upload/setting/thumb_800x800/website-seo-img-1670982936.jpg" />
    <meta property="og:image:alt" content="Phòng Khảo thí và Đảm bảo chất lượng giáo dục" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="800" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Website trường đại học Thương mại" />
    <meta name="twitter:title" content="Phòng Khảo thí và Đảm bảo chất lượng giáo dục" />
    <meta name="twitter:image" content="https://khaothi.tmu.edu.vn/upload/setting/thumb_800x800/website-seo-img-1670982936.jpg" />
    <meta name="twitter:site" content=”https://khaothi.tmu.edu.vn” />
    <meta itemprop="name" content="Phòng Khảo thí và Đảm bảo chất lượng giáo dục" />
    <meta itemprop="description" content="Website trường đại học Thương mại" />
    <meta itemprop="image" content="https://khaothi.tmu.edu.vn/upload/setting/thumb_800x800/website-seo-img-1670982936.jpg">
    <link href="assets/jquery.mmenu.all.css" rel="stylesheet">
    <link href="assets/animate/animate.min.css" rel="stylesheet">
    <link href="assets/aos/aos.css" rel="stylesheet">
    <link href="assets/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/custom.css" rel="stylesheet">
    <link href="assets/fontawesome-free-5.15.4-web/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="header-top header-top-basic">
                <div class="container">
                    <div class="header-top-wrap">
                        <a href="https://tmu.edu.vn" class="header-logo">
                            <img src="images/logo2.png" alt="" class="img-fluid logo-head" />
                            <div class="name">
                                <h2>Phòng Đảm bảo Chất lượng</h2>
                                <h3>Quality Assurance Department</h3>
                            </div>
                        </a>
                        <div class="box-search">
                            <form action="https://khaothi.tmu.edu.vn/search" id="formHome" class="search-form">
                                <button type="submit">
                                    <span class="icon">
                                        <img src="https://khaothi.tmu.edu.vn/template_dhtm/images/ic-search.png" alt="" width="20" height="20" class="img-fluid">
                                    </span>
                                </button>
                                <input type="text" name="key" value="" class="keyword-search" placeholder="Tìm kiếm"></form>
                        </div>
                        <div class="language">
                            <a href="javascript:;" class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="langitem current-lang">
                                    <span class="icon">
                                        <img src="https://khaothi.tmu.edu.vn/html/images/ic-f-vn.png" alt="VIE" class="img-fluid">
                                    </span>
                                    VIE</div>
                                <span class="icon-dropdown">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9465 5.45337H7.79316H4.05317C3.41317 5.45337 3.09317 6.2267 3.5465 6.68004L6.99983 10.1334C7.55317 10.6867 8.45317 10.6867 9.0065 10.1334L10.3198 8.82003L12.4598 6.68004C12.9065 6.2267 12.5865 5.45337 11.9465 5.45337Z" fill="white" />
                                    </svg>
                                </span>
                            </a>
                            <ul class="dropdown-box dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a class="langitem" href="https://khaothi.tmu.edu.vn/localizations/change-language/vi">
                                        <span class="icon">
                                            <img src="https://khaothi.tmu.edu.vn/template_dhtm/images/lang-vie.png" alt="" class="img-fluid">
                                        </span>
                                        VIE
                                    </a></li>
                                <li>
                                    <a class="langitem" href="https://khaothi.tmu.edu.vn/localizations/change-language/en">
                                        <span class="icon">
                                            <img src="https://khaothi.tmu.edu.vn/template_dhtm/images/lang-eng.png" alt="" class="img-fluid">
                                        </span>
                                        ENG
                                    </a></li>
                            </ul>
                        </div>
                        <div class="mobile-ham">
                            <a href="#mmenu" class="icon-menu-mb" id="menu-rotate">
                                <div class="menu-line">
                                    <div class="lines">
                                        <div class="line diagonal part-1"></div>
                                        <div class="line horizontal"></div>
                                        <div class="line diagonal part-2"></div>
                                    </div>
                                </div>
                            </a>
                            <nav id="mmenu">
                                <ul>
                                    <li>
                                        <a title="Giới thiệu" href="https://khaothi.tmu.edu.vn/trang/gioi-thieu-130" class="item-menu-mb">Giới thiệu</a>
                                        <ul>
                                            <li>
                                                <a title="Giới thiệu chung" href="https://khaothi.tmu.edu.vn/trang/gioi-thieu-chung-130">Giới thiệu chung</a></li>
                                            <li>
                                                <a title="Chức năng - Nhiệm vụ" href="https://khaothi.tmu.edu.vn/trang/chuc-nang-nhiem-vu-131">Chức năng - Nhiệm vụ</a></li>
                                            <li>
                                                <a title="Cơ cấu tổ chức" href="https://khaothi.tmu.edu.vn/co-cau-to-chuc">Cơ cấu tổ chức</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="https://khaothi.tmu.edu.vn/danh-muc/tin-tuc-su-kien-4090" class="item-menu-mb ">Tin tức - Sự kiện</a></li>
                                    <li>
                                        <a title="Tin tức khảo thí" href="https://khaothi.tmu.edu.vn/danh-muc/tin-tuc-khao-thi-2926" class="item-menu-mb">Tin tức khảo thí</a>
                                        <ul>
                                            <li>
                                                <a title="Tin hoạt động" href="https://khaothi.tmu.edu.vn/danh-muc/tin-hoat-dong-2927">Tin hoạt động</a></li>
                                            <li>
                                                <a title="Thông báo" href="https://khaothi.tmu.edu.vn/danh-muc/thong-bao-2928">Thông báo</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a title="Tin tức đảm bảo chất lượng" href="https://khaothi.tmu.edu.vn/danh-muc/tin-tuc-dam-bao-chat-luong-2929" class="item-menu-mb">Tin tức đảm bảo chất lượng</a>
                                        <ul>
                                            <li>
                                                <a title="Kiểm định chất lượng giáo dục" href="https://khaothi.tmu.edu.vn/danh-muc/kiem-dinh-chat-luong-giao-duc-4315">Kiểm định chất lượng giáo dục</a>
                                                <ul>
                                                    <li>
                                                        <a href="https://khaothi.tmu.edu.vn/danh-muc/kiem-dinh-chat-luong-truong-4316">Kiểm định chất lượng Trường</a></li>
                                                    <li>
                                                        <a href="https://khaothi.tmu.edu.vn/danh-muc/kiem-dinh-chat-luong-ctdt-theo-tieu-chuan-moet-4317">Kiểm định chất lượng CTĐT theo tiêu chuẩn MOET</a></li>
                                                    <li>
                                                        <a href="https://khaothi.tmu.edu.vn/danh-muc/kiem-dinh-chat-luong-ctdt-theo-tieu-chuan-aun-qa-4318">Kiểm định chất lượng CTĐT theo tiêu chuẩn AUN-QA</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a title="Tin hoạt động" href="https://khaothi.tmu.edu.vn/danh-muc/tin-hoat-dong-2924">Tin hoạt động</a></li>
                                            <li>
                                                <a title="Thông báo" href="https://khaothi.tmu.edu.vn/danh-muc/thong-bao-2925">Thông báo</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="https://khaothi.tmu.edu.vn/danh-muc/quan-ly-phoi-vbcc-4091" class="item-menu-mb ">Quản lý phôi VBCC</a></li>
                                    <li>
                                        <a href="https://khaothi.tmu.edu.vn/van-ban-quan-ly" class="item-menu-mb ">Văn bản quản lý</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-menu header-menu-basic">
                <div class="container">
                    <div class="header-menu-wrap">
                        <div class="header-menu-root has-sub">
                            <a href="https://khaothi.tmu.edu.vn" class="menu-root ">
                                <img src="https://khaothi.tmu.edu.vn/template_dhtm/images/home_logo.png" alt="" class="img-fluid logo-head" />
                            </a></div>
                        <div class="header-menu-root  has-sub ">
                            <a href="https://khaothi.tmu.edu.vn/trang/gioi-thieu-130" class="menu-root                                                                         ">
                                Giới thiệu<span class="icon-dropdown ">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9465 5.45337H7.79316H4.05317C3.41317 5.45337 3.09317 6.2267 3.5465 6.68004L6.99983 10.1334C7.55317 10.6867 8.45317 10.6867 9.0065 10.1334L10.3198 8.82003L12.4598 6.68004C12.9065 6.2267 12.5865 5.45337 11.9465 5.45337Z" fill="white" />
                                    </svg>
                                </span>
                            </a>
                            <div class="sub-menu">
                                <div class="menu-child">
                                    <a href="https://khaothi.tmu.edu.vn/trang/gioi-thieu-chung-130" class="menu-root lv1                                                                 ">Giới thiệu chung</a></div>
                                <div class="menu-child">
                                    <a href="https://khaothi.tmu.edu.vn/trang/chuc-nang-nhiem-vu-131" class="menu-root lv1                                                                 ">Chức năng - Nhiệm vụ</a></div>
                                <div class="menu-child">
                                    <a href="https://khaothi.tmu.edu.vn/co-cau-to-chuc" class="menu-root lv1                                                                 ">Cơ cấu tổ chức</a></div>
                            </div>
                        </div>
                        <div class="header-menu-root">
                            <a href="https://khaothi.tmu.edu.vn/danh-muc/tin-tuc-su-kien-4090" class="menu-root  ">
                                Tin tức - Sự kiện
                            </a></div>
                        <!-- <div class="header-menu-root  has-sub ">
                            <a href="https://khaothi.tmu.edu.vn/danh-muc/tin-tuc-khao-thi-2926" class="menu-root                                                                         ">
                                Tin tức khảo thí<span class="icon-dropdown ">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9465 5.45337H7.79316H4.05317C3.41317 5.45337 3.09317 6.2267 3.5465 6.68004L6.99983 10.1334C7.55317 10.6867 8.45317 10.6867 9.0065 10.1334L10.3198 8.82003L12.4598 6.68004C12.9065 6.2267 12.5865 5.45337 11.9465 5.45337Z" fill="white" />
                                    </svg>
                                </span>
                            </a>
                            <div class="sub-menu">
                                <div class="menu-child">
                                    <a href="https://khaothi.tmu.edu.vn/danh-muc/tin-tuc-khao-thi-2926?cat_child=2927" class="menu-root lv1    ">Tin hoạt động</a></div>
                                <div class="menu-child">
                                    <a href="https://khaothi.tmu.edu.vn/danh-muc/tin-tuc-khao-thi-2926?cat_child=2928" class="menu-root lv1    ">Thông báo</a></div>
                            </div>
                        </div> -->
                        <div class="header-menu-root  has-sub ">
                            <a href="https://khaothi.tmu.edu.vn/danh-muc/tin-tuc-dam-bao-chat-luong-2929" class="menu-root                                                                         ">
                                Đảm bảo chất lượng<span class="icon-dropdown ">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.9465 5.45337H7.79316H4.05317C3.41317 5.45337 3.09317 6.2267 3.5465 6.68004L6.99983 10.1334C7.55317 10.6867 8.45317 10.6867 9.0065 10.1334L10.3198 8.82003L12.4598 6.68004C12.9065 6.2267 12.5865 5.45337 11.9465 5.45337Z" fill="white" />
                                    </svg>
                                </span>
                            </a>
                            <div class="sub-menu">
                                <div class="menu-child  has-sub ">
                                    <a href="https://khaothi.tmu.edu.vn/danh-muc/tin-tuc-dam-bao-chat-luong-2929?cat_child=4315" class="menu-root lv1    ">
                                        Kiểm định chất lượng giáo dục
                                        <span class="icon-dropdown rotate-90">
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M11.9465 5.45337H7.79316H4.05317C3.41317 5.45337 3.09317 6.2267 3.5465 6.68004L6.99983 10.1334C7.55317 10.6867 8.45317 10.6867 9.0065 10.1334L10.3198 8.82003L12.4598 6.68004C12.9065 6.2267 12.5865 5.45337 11.9465 5.45337Z" fill="white" />
                                            </svg>
                                        </span>
                                    </a>
                                    <div class="sub-menu">
                                        <div class="menu-child">
                                            <a href="https://khaothi.tmu.edu.vn/danh-muc/kiem-dinh-chat-luong-giao-duc-4315?cat_child=4316" class="menu-root lv2  ">Kiểm định chất lượng Trường </a></div>
                                        <div class="menu-child">
                                            <a href="https://khaothi.tmu.edu.vn/danh-muc/kiem-dinh-chat-luong-giao-duc-4315?cat_child=4317" class="menu-root lv2  ">Kiểm định chất lượng CTĐT theo tiêu chuẩn MOET </a></div>
                                        <div class="menu-child">
                                            <a href="https://khaothi.tmu.edu.vn/danh-muc/kiem-dinh-chat-luong-giao-duc-4315?cat_child=4318" class="menu-root lv2  ">Kiểm định chất lượng CTĐT theo tiêu chuẩn AUN-QA </a></div>
                                    </div>
                                </div>
                                <div class="menu-child">
                                    <a href="https://khaothi.tmu.edu.vn/danh-muc/tin-tuc-dam-bao-chat-luong-2929?cat_child=2924" class="menu-root lv1    ">Tin hoạt động</a></div>
                                <div class="menu-child">
                                    <a href="https://khaothi.tmu.edu.vn/danh-muc/tin-tuc-dam-bao-chat-luong-2929?cat_child=2925" class="menu-root lv1    ">Thông báo</a></div>
                            </div>
                        </div>
                        <div class="header-menu-root">
                            <a href="https://khaothi.tmu.edu.vn/danh-muc/quan-ly-phoi-vbcc-4091" class="menu-root  ">
                                Quản lý phôi VBCC
                            </a></div>
                        <div class="header-menu-root">
                            <a href="https://khaothi.tmu.edu.vn/van-ban-quan-ly" class="menu-root  ">
                                Văn bản quản lý
                            </a></div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section class="block-introduce block-sidebar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-intro">
                                <div class="sidebar-intro" data-aos="fade-down">
                                    <div class="box-title">
                                        <h3 class="title">
                                            Giới thiệu chung</h3>
                                    </div>
                                    <ul>
                                        <li class=" active ">
                                            <a href="https://khaothi.tmu.edu.vn/trang/gioi-thieu-chung-130">Giới thiệu chung</a></li>
                                        <li class="">
                                            <a href="https://khaothi.tmu.edu.vn/trang/chuc-nang-nhiem-vu-131">Chức năng - Nhiệm vụ</a></li>
                                        <li class="">
                                            <a href="co-cau-to-chuc.html">Cơ cấu tổ chức</a></li>
                                    </ul>
                                </div>
                                <div class="ct-right-intro" data-aos="fade-up">
                                    <h1 class="title">Giới thiệu chung</h1>
                                    <div style="padding: 16px 45px 16px 45px;">
                                        <img src="https://khaothi.tmu.edu.vn/upload/staticpage/original/staticpage-1698046491.jpg"></div>
                                    <div class="desc2 desc">
                                        <div class="clearfix" style="color: #333333; background-color: #ffffff;">
                                            <div class="hometext m-bottom" style="font-family: OpenSansR, sans-serif; font-style: italic; margin-bottom: 10px !important;">&nbsp;</div>
                                            <div class="hometext m-bottom" style="font-family: OpenSansR, sans-serif; font-style: italic; margin-bottom: 10px !important;">Ph&ograve;ng Khảo th&iacute; &amp; Đảm bảo chất lượng gi&aacute;o dục được th&agrave;nh lập ng&agrave;y 27/08/2007. Trong qu&aacute; tr&igrave;nh x&acirc;y dựng v&agrave; ph&aacute;t triển, năm 2010 ph&ograve;ng được đổi t&ecirc;n từ ph&ograve;ng Khảo th&iacute; &amp; Kiểm định chất lượng gi&aacute;o dục th&agrave;nh ph&ograve;ng Khảo th&iacute; &amp; Đảm bảo chất lượng gi&aacute;o dục</div>
                                        </div>
                                        <div id="news-bodyhtml" class="bodytext margin-bottom-lg" style="margin-bottom: 15px; word-break: keep-all; max-width: 100%; overflow: hidden visible; line-height: 1.7em; font-family: OpenSansR, Arial, sans-serif; color: #333333; background-color: #ffffff;">
                                            <p style="margin-top: 0px; margin-bottom: 0px; text-align: justify;">Ph&ograve;ng Khảo th&iacute; v&agrave; Đảm bảo chất lượng gi&aacute;o dục (KT&amp;ĐBCLGD) được th&agrave;nh lập th&aacute;ng 8 năm 2007 theo Quyết định số 615/TM-TCTTr ng&agrave;y 23 th&aacute;ng 8 năm 2007 của Hiệu trưởng trường Đại học Thương Mại, l&agrave; đơn vị trực thuộc Trường Đại học Thương Mại. Tổ chức v&agrave; hoạt động của Ph&ograve;ng tu&acirc;n theo c&aacute;c quy định của Điều lệ trường đại học, Quy chế tổ chức v&agrave; hoạt động của Trường Đại học Thương Mại v&agrave; c&aacute;c quy định kh&aacute;c c&oacute; li&ecirc;n quan. Ph&ograve;ng hiện c&oacute; 23 c&aacute;n bộ trong đ&oacute; c&oacute; 01 TS, 19 Thạc sỹ, 03 cử nh&acirc;n.</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer footer-nangcao">
            <div class="row-social">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-social">
                                <span>Kết nối với chúng tôi:</span>
                                <a href="">
                                    <img src="https://khaothi.tmu.edu.vn/template_dhtm/images/ic-fb.png" alt="">
                                </a>
                                <a href="">
                                    <img src="https://khaothi.tmu.edu.vn/template_dhtm/images/ic-ytb.png" alt="">
                                </a>
                                <a href="">
                                    <img src="https://khaothi.tmu.edu.vn/template_dhtm/images/ic-mess.png" alt="">
                                </a>
                                <a href="">
                                    <img src="https://khaothi.tmu.edu.vn/template_dhtm/images/ic-in.png" alt="">
                                </a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-footer">
                <div class="container">
                    <div class="row">
                        <div class=" col-lg-4 col-sm-6 ">
                            <div class="row-logo-footer-nc">
                                <a href="#" class="logo-footer">
                                    <img src="images/logo2.png" alt="" class="img-fluid logo-head logo-sm" />
                                    <div class="name">
                                        <h2>Trường Đại học Trà Vinh</h2>
                                        <h3>Phòng Đảm bảo Chất lượng</h3>
                                    </div>
                                </a></div>
                            <div class="add-ft">
                                <span class="add">
                                    Địa chỉ: Số 126 Quốc lộ 53, khóm 4, phường 5, TP.Trà Vinh, tỉnh Trà Vinh<br />
                                    Điện thoại: (+84).74.3855246 <br />
                                    Fax: (+84).74.3855217 <br />
                                    Giấy phép xuất bản số: 35/GP-TTDT do Cục QL Phát thanh, Truyền hình và Thông tin điện tử (Bộ TTTT) cấp ngày 05/04/2013
                                </span>
                                <a href="mailto:" class="mail"></a>
                                <a href="tel:" class="phone"> </a></div>
                        </div>
                        <div class="col-lg-5 col-sm-6">
                            <ul class="menu-footer">
                                <li>
                                    <a href="https://khaothi.tmu.edu.vn/trang/gioi-thieu-130">Giới thiệu</a></li>
                                <li>
                                    <a href="https://khaothi.tmu.edu.vn/danh-muc/tin-tuc-khao-thi-2926">TIN TỨC KHẢO THÍ</a></li>
                                <li>
                                    <a href="https://khaothi.tmu.edu.vn/danh-muc/tin-tuc-dam-bao-chat-luong-2929">Tin tức đảm bảo chất lượng</a></li>
                                <li>
                                    <a href="https://khaothi.tmu.edu.vn/van-ban-quan-ly">Văn bản quản lý</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="link-ft">
                                <h3>LIÊN KẾT NGOÀI</h3><a href="https://chinhphu.vn" target="blank">Cổng TTĐT Chính phủ</a>
                                <a href="https://moet.gov.vn/Pages/home.aspx" target="blank">Bộ Giáo dục và Đào tạo</a>
                                <a href="https://moit.gov.vn" target="blank">Bộ Công thương</a>
                                <a href="https://hocthenao.vn" target="blank">Học thế nào</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lbl-cp">
                    © Bản Quyền thuộc Trường Đại Học Trà Vinh <br />
                    Mọi chi tiết về nội dung website xin liên hệ: banbientapwebsite@tvu.edu.vn <br />
                    Kỹ thuật: webmaster@tvu.edu.vn
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript">
    let ENV = { version: '0', token: 'dGzmJZMb1qEqTHxOCCnp807ENwEu9ls7sp9ukoiJ', SITE_NAME: 'Phòng Khảo thí và Đảm bảo chất lượng giáo dục', BASE_URL: 'https://khaothi.tmu.edu.vn/web/', PUBLIC_URL: 'https://tmu.edu.vn/', LANG: 'vi', tel: '0906122309', hotline: '(024) 3764 3219', email: 'mail@tmu.edu.vn', isAdminUrl: '0', },
        COOKIE_ID = 'Đại học Thương Mại',
        DOMAIN_COOKIE_REG_VALUE = 1,
        DOMAIN_COOKIE_STRING = 'tmu.edu.vn';
    API_URL = 'https://api.tmu.edu.vn/v1';
    let BASE_URL = 'https://khaothi.tmu.edu.vn';
    var validate_full_name = 'Vui lòng nhập Họ và Tên';
    var validate_format_ho_ten = 'Vui lòng nhập Họ và Tên nhiều hơn 3 ký tự';
    var validate_phone = 'Vui lòng nhập Số điện thoại';
    var validate_phone_format = 'Vui lòng nhập đúng định dạng Số điện thoại';
    var validate_email = 'Vui lòng nhập Email';
    var validate_email_format = 'Vui lòng nhập đúng định dạng Email';
    var thanh_cong = 'Thành công';
    var co_loi_xay_ra = 'Thông báo';
    var submit_form_success = 'Thông tin đăng kí của bạn đã được gửi đến Admin';
    var submit_form_error = 'Lỗi hệ thống, vui lòng thử lại sau';
    </script>
    <script type="text/javascript" src="assets/jquery/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="assets/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="assets/lazyload/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="assets/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="assets/mansonry/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="assets/mmenu/jquery.mmenu.all.js"></script>
    <script type="text/javascript" src="assets/aos/aos.js"></script>
    <script type="text/javascript" src="assets/wow/wow.min.js"></script>
    <script type="text/javascript" src="assets/main.js"></script>
    <script type="text/javascript" src="assets/custom.js"></script>
    <script type="text/javascript" src="assets/sweetalert2/sweetalert2@10.js"></script>
    <script>
    if ($('#album-slide').length > 0) { var swiperFeaturedHome = new Swiper('#album-slide', { loop: false, speed: 1200, spaceBetween: 30, slidesPerView: 2, navigation: { nextEl: '#album-slide-next', prevEl: '#album-slide-prev', }, pagination: { el: '#album-slide-pagination', clickable: true, }, breakpoints: { 310: { slidesPerView: 1, }, 570: { slidesPerView: 2, spaceBetween: 10, }, 767: { slidesPerView: 2, spaceBetween: 30, }, }, }); }
    if ($('#admissions-slide').length > 0) { var swiperAdmissions = new Swiper('#admissions-slide', { loop: false, speed: 1200, spaceBetween: 40, slidesPerView: 2.6, navigation: { nextEl: '#admissions-slide-prev', prevEl: '#admissions-slide-next', }, breakpoints: { 310: { slidesPerView: 1.2, spaceBetween: 20, }, 570: { slidesPerView: 2, spaceBetween: 20, }, 992: { slidesPerView: 2.6, spaceBetween: 40, }, }, }); }
    if ($('#partner-slide').length > 0) { var swiperpartner = new Swiper('#partner-slide', { loop: false, speed: 1200, spaceBetween: 20, slidesPerView: 6, navigation: { nextEl: '#partner-slide-next', prevEl: '#partner-slide-prev', }, breakpoints: { 310: { slidesPerView: 2, }, 375: { slidesPerView: 3, spaceBetween: 10, }, 768: { slidesPerView: 4, spaceBetween: 20, }, 992: { slidesPerView: 5, spaceBetween: 20, }, 1200: { slidesPerView: 6, spaceBetween: 20, }, }, }); }
    </script>
    <script src="https://khaothi.tmu.edu.vn/html/js/search.js"></script>
    <script>
    $('#formHome').submit(function() { if ($('.keyword-search').val().length < 3) { alert('Vui lòng nhập từ khóa lớn hơn 3 ký tự'); return false; } else { $('#formHome').submit(); } })
    </script>
    <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top position-fixed">
        <button class="button-top" title="Back to Top">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </button>
    </div>
    <!--  <a class="fixedButton" href="tel:02943840058">
         <div class="roundedFixedBtn">
            <img src="<?= Yii::getAlias('@web/img/call.gif?v=3') ?>" height="40px" /> 
            call 
         </div>
    </a> -->
    <script>
    $(window).on('scroll', function() {
        // scroll to top btn show/hide
        function scrollTopBtn() {
            var scrollToTop = $('#back-to-top'),
                scroll = $(window).scrollTop();
            if (scroll >= 50) {
                scrollToTop.fadeIn();
            } else {
                scrollToTop.fadeOut();
            }
        }
        scrollTopBtn();
    });

    // back to top
    function backToTop() {
        $('#back-to-top').on('click', function() {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
    }
    backToTop();
    </script>
</body>

</html>