.yottie-widget-inner {
    border-radius: 2px;
    overflow: hidden;
    height:348px !important;
}
.yottie-widget-feed-section-inner  {
    height:348px !important;
}

.yottie-widget-video-preview-thumbnail {

height:348px !important;
}