
a.scroll-top{
	color:white;
	background-color: var(--secondary-color);
	text-decoration: none;
}
a.scroll-top:hover{
	background-color: var(--primary-color);
	color:white;
}

.a-in-top{
	cursor: pointer;
}
.a-in-top:hover{
	color:white !important;
}

.scroll-top.on {
    right: 30px;
    bottom: 140px;
}

#primary-menu{
	margin-bottom: 0px;
}

.dt-mobile-header .mini-contacts {
    color: var(--secondary-color);
    text-decoration: none;
}

.mini-contacts a{
	color: var(--secondary-color);
    text-decoration: none;
}

.h2-block-title{
	margin-bottom:20px;
	font-size:1.5em;
	color: var(--secondary-color);
}

/**search**/
.search-box{
	display: block;
}
.search-box-mobile{
	display: none !important;
}
.search-box-mobile i{
	color: var(--secondary-color) !important;
}
.search-form{
	
}
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: var(--secondary-color);
  left: initial;
  font-size: 14px;
}
/**end search**/
@media (max-width: 1100px) {
	.search-box{
		display: none !important;
	}
	
}

@media (max-width: 768px) {
	.search-box-mobile{
		display: block !important;
	}
}


@media (min-width: 1200px) {

}

@media (min-width: 1000px) {
	
}

@media (max-width: 786px) {
	
}

@media (max-width: 480px) {
	
}

